.mainContainer {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.p {
  font-size: 4rem;
  color: #333;
  margin: 0.5rem 0;
  font-weight: 500;
  // padding-left: 3rem;
}
