.footer-content {
  display: flex;
  gap: 7rem;
  padding-left: 3rem;
}

.footer {
  background-color: #eaecee;
  padding: 1rem;
  width: 100%;
}

.a {
  font-size: 1.5rem;
  font-weight: 700;
}

.main-footer {
  border-top: 1px solid black;
  width: 100%;
}

.main-footer {
  display: flex;
  padding: 1rem;
  width: 100%;
  
}
